ENVIRONMENT=
VERSION=

NEXT_PUBLIC_ENV=
NEXT_PUBLIC_HOST=
NEXT_PUBLIC_API_HOST=

# solana
NEXT_PUBLIC_SOLANA_RPC_HOST=
NEXT_PUBLIC_HELIUS_RPC=

# twitter
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CALLBACK_URL=

# privy.io
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=


